# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.key
*.pem

.idea
.vscode
*.bkp
*.dtmp

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# vault
tool/vault/*.json
tool/vault/prod/vault-*.json
tool/vault/data
tool/vault/logs
tool/vault/file
tool/vault/user-logs
tool/vault/config/tls
tool/vault/prod/tls

# mysql
tool/mysql/config
tool/mysql/data
tool/mysql/logs

# redis
tool/redis/redis-data
tool/redis/redis-logs

# nginx
tool/nginx/tls

# etcd
tool/etcd/node0/etcd-data
tool/etcd/node0/etcd-logs
tool/etcd/node1/etcd-data
tool/etcd/node1/etcd-logs
tool/etcd/node2/etcd-data
tool/etcd/node2/etcd-logs

# etcd
tool/consul/node0/consul-data
tool/consul/node0/consul-logs
tool/consul/node1/consul-data
tool/consul/node1/consul-logs
tool/consul/node2/consul-data
tool/consul/node2/consul-logs
tool/consul/node3/consul-data
tool/consul/node3/consul-logs

# jaeger
tool/jaeger/jaeger-data
tool/jaeger/jaeger-logs

# prometheus grafana
tool/prometheus_grafana/prometheus_data
tool/prometheus_grafana/grafana_data

# elk
tool/elk/elasticsearch/plugins
tool/elk/elasticsearch/data
tool/elk/elasticsearch/logs
tool/filebeat-nginx/data
tool/elk/filebeat/data

# rocketmq
tool/rocketmq/logs
tool/rocketmq/store

# yapi
tool/yapi/mongo_data/

